/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.cards {
  padding-left: 20px;
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  height: 100vh;
  background-color: rgb(162, 218, 240);
  flex-direction: column;
  border-color: black;
  border: 2px;
}
.btn {
  text-decoration: none;
  color: black;
}